apiVersion: networking.k8s.io/v1
kind: Ingress

metadata:
  name: easyshop-ingress
  namespace: easyshop

  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "50m"
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"

spec:
  tls:
    - hosts:
      - 63.35.172.82.nip.io
      secretName: easyshop-tls-secret

  rules:
    - host: 63.35.172.82.nip.io
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: easyshop-service
                port:
                  number: 80
