apiVersion: batch/v1
kind: Job

metadata:
  name: db-migration
  namespace: easyshop

spec:
  template:
    spec:
      containers:
      - name: migration
        image: atharvkarpe/easyshop-migration:7
        imagePullPolicy: Always
        env:
          - name: MONGDB_URI
            value: "mongodb://mongodb-service:27017/easyshop"

      restartPolicy: OnFailure

